.settingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8vh;
}

.settingForm {
  width: 30vw;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formGroup {
  margin-bottom: 15px;
  display: flex;
  gap: 10px;
}
.formGroup label {
  width: 10vw;
  font-weight: 600;
  margin-bottom: 5px;
  font-family: Manrope;
}

.formGroup input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Manrope;
}

.settingBtns {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.settingBtns button {
  width: 100%;
  padding: 15px 0px;
  font-size: 0.9rem;
  font-family: Manrope;
  font-weight: 500;
  border: none;
  outline: none;
  color: #ffffff;
  border-radius: 6px;
  cursor: pointer;
}

.SaveBtn {
  background-color: #1b48da;
  transition: 0.3s;
}
.SaveBtn:hover {
  /* background-color: #000; */
  transform: scale(1.02);
}

.deleteBtn {
  background-color: #eb0d0d;
  transition: 0.3s;
}

.deleteBtn:hover {
  transform: scale(1.02);
}
