.navbar {
  display: flex;
  padding-top: 1vw;
  gap: 10vw;
  font-family: Manrope;
  height: 10vh;
}

.rightNavbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* gap: 28vw; */
  border-bottom: 1px solid #ececf2;
  padding-bottom: 10px;
}

.profileName {
  display: flex;
}

.profileName span {
  font-size: 1.2rem;
  font-weight: 700;
}

.profileName p {
  font-size: 0.8rem;
  color: #878ba9;
}

.navActon {
  display: flex;
  position: relative;
  gap: 28px;
}
.createButton {
  background-color: #1b48da;
  padding: 10px 14px;
  border-radius: 6px;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.createButton:hover {
  background-color: #6481df;
}

.navSearch {
  padding: 13px 14px;
  margin-right: 7vw;
  border-radius: 6px;
  text-align: center;
  font-size: 1rem;
  outline: none;
  border: 1px solid #ececf2;
  font-weight: 400;
}

.search {
  position: relative;
  color: #878ba9;
}

.search i {
  position: absolute;
  top: 2.2vh;
  padding-left: 1vw;
  font-size: 1.2rem;
}

.profileCircle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fde48a;
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: end; */
  margin-right: 20px;
  color: #923e0e;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.profileCircle:hover {
  transform: scale(1.25);
}

.logout {
  position: absolute;
  top: 6vh;
  left: 27vw;
  width: 3vw;
  /* margin-right: 5vw; */
}

.logoutBtn {
  border: 1px solid #ececf2;
  color: #878ba9;
  font-family: Manrope;
  font-size: 1rem;
  font-weight: 400;
  background-color: #ffffff;
  padding: 8px 22px;
  border-radius: 4px;
  cursor: pointer;
}

.logoutBtn:hover {
  background-color: #3b3c51;
  color: #ffffff;
}

@media screen and (max-width: 576px) {
  .navbar {
    flex-direction: column;
    height: 23vh;
    gap: 3px;
  }

  .logo {
    text-align: center;
    /* padding: 8px; */
  }
  .logo img {
    /* text-align: center; */
    width: 100px;
  }

  .rightNavbar {
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
  }

  .navActon {
    gap: 10px;
    justify-content: space-between;
  }

  .profileName {
    margin-bottom: 10px;
  }

  .logout {
    top: 10vh;
    left: 75vw;
  }

  .createButton {
    background-color: #1b48da;
    padding: 5px;
    width: 22vw;
    border-radius: 6px;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
  }

  .navSearch {
    padding: 11px 10px;
    font-size: 0.8rem;
  }

  .search i {
    position: absolute;
    font-size: 0.9rem;
    top: 13px;
    left: 5px;
  }
  .logout {
    position: absolute;
    top: 5vh;
    left: 55vw;
    width: 2vw;
  }
  .logoutBtn:hover {
    background-color: #3b3c51;
    color: #ffffff;
  }
}
